.results__title {
  font-size: 1.2em;
} 

#results__wrap {
    width: 90%;
    float: left;
    margin:25px 5%;
    @include trans;

    a {
      color: $gray;
      @include trans;
      &:hover {
        color:$green;
      }
    }

    li {
      margin:20px 0 5px 0;
    }

    span {
      font-size: 0.75em;
    }

    @include breakpoint($large) {
      @include gallery(last 6 of 12);
      height: 100%;
    }

}

.brand-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
    max-width: 340px;
  }

  @include breakpoint($large) {
    @include gallery(last 3 of 12);
  }
}

.brand__container--animate {
  transform: translate(1000%);
}
